.aboutUs {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.cardImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
  margin: 0 auto;
  margin: 10px;
}

.cardContent {
  padding: 20px;
  text-align: center;
  flex: 1;
}

.cardContent h2 {
  margin-top: 0;
}

.cardContent ul {
  list-style: none;
  padding-left: 0;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .cardImage {
    width: 100%;
    height: auto;
  }

  .cardContent {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  }
}
